body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@import '_variable';
@import '_root';
@import '_layout';
@import '_util';
@import '_tool-page';

/* 기본 테마 */
.theme-default {
  // @at-root로 .theme-default 밖으로 빠져나감 (_reset.scss 에 있는 내용 재선언)
  @at-root {
    html,
    body {
      width: 100%;
      font-family: 'Noto Sans KR', sans-serif;
      color: #000;

      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: baseline;
      font-style: normal;
    }
  }

  @media (max-width: 480px) {
    #Wrap {
      max-width: 480px;
    }
  }
}
